.backgroundColor{
  -fx-background-color: linear-gradient(to left, #ccffff 35%, #ffcccc 85%);
}

.backgroundLog {
 -fx-background-color: linear-gradient(to right, #ccffff 0%, #ffffff 85%);
 }

 .backgroundBtn {
 -fx-background-color: linear-gradient(to left, #2DE3E3 0%, #4DFFFF 50%);
 }